/*CSS*/

html {
    /*font-family: 'Cabin';*/
}

body {
    font-size: 150%;
    /*margin: 40px;*/
}

.container {
    margin-top: 100px;
    margin-bottom: 100px;
}

[class*="col-"], footer, header {
    /*background-color: lightgreen;*/
    /*border: 2px solid black;*/
    /*border-radius: 6px;*/
    /*line-height: 40px;*/
    text-align: center;
}

.index .row {
    margin-bottom: 50px;
}

header {
    font-size: 500%;
}

footer {
    background-color: #99a19c;
}

.index .footer {
    margin-bottom: 0;
    margin-top: 35px;
}

.liens_index {
    font-size: 150%;
}

.inscription {
    margin-bottom: 25px;
}

.insc div {
    margin-bottom: 25px;
}

.connexion_insc div {
    margin-top: 20px;
    margin-bottom: 50px;
}

.conn div {
    margin-bottom: 40px;
}

.connexion {
    margin-bottom: 10px;
}

#gerer label {
    font-size: 220%;
}

/*#main {*/
/*background-color: white;*/
/*padding: 2vmin;*/
/*margin: 8vmin;*/
/*margin-top: 10vmax;*/
/*}*/

/*#main_accueil {*/
/*background-color: white;*/
/*padding: 2vmax;*/
/*margin: 4vmax;*/
/*}*/

/*.sous_main {*/
/*background-color: #DCE4DF;*/
/*margin: 2%;*/
/*}*/

/*header {*/
/*font-size: 500%;*/
/*text-align: center;*/
/*padding: 3%;*/
/*font-family: 'Cabin';*/
/*}*/

/*footer {*/
/*margin: 5%;*/
/*text-align: center;*/
/*font-family: 'Carlito';*/
/*font-size: large;*/
/*}*/

/*.logo {*/
/*width: 30%;*/
/*}*/

/*article {*/
/*vertical-align: middle;*/
/*display: inline-block;*/
/*padding: 5%;*/
/*width: 39%;*/
/*}*/

/*#sommaire_fixe {*/
/*position: fixed;*/
/*top: 0;*/
/*right: 0;*/
/*left: 0;*/
/*list-style-type: none;*/
/*font-size: 3vmin;*/
/*background-color: #2D7C6A;*/
/*height: 12vmin;*/
/*}*/

/*.liste_fixe, .liste_fixe_bis {*/
/*width: 20%;*/
/*text-align: center;*/
/*float: left;*/
/*}*/

.tdthvoiture:hover {
    background-color: #2D7C6A;
}

.hoverNon .tdthvoiture:hover {
    background-color: #DCE4DF;
}

.btn-circle {
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 1px 0;
    font-size: 8px;
    line-height: 1.42;
    border-radius: 15px;
}

/*.TableBudget {*/
    /*width: 20%;*/
    /*margin-top: 2%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*border-collapse: collapse;*/
/*}*/

/*.liste_fixe:hover {*/
/*height: 100%;*/
/*background-color: #348E7A;*/
/*}*/

/*.a_menu {*/
/*height: 100%;*/
/*color: white;*/
/*text-decoration: none;*/
/*padding: 2vmax;*/
/*display: block;*/
/*font-family: 'Cabin';*/
/*}*/

/*input, textarea {*/
/*padding: 3px;*/
/*border: 1px solid #348E7A;*/
/*border-radius: 5px;*/
/*}*/

/*form {*/
/*margin-bottom: 2%;*/
/*}*/

/*#titre_page {*/
/*text-align: center;*/
/*margin-top: 5%;*/
/*font-size: 200%;*/
/*font-family: 'Cabin';*/
/*}*/

/*.titre_evenement {*/
/*text-decoration: underline;*/
/*font-size: 200%;*/
/*font-family: 'Cabin';*/
/*}*/

/*p {*/
/*font-size: larger;*/
/*padding-top: 3%;*/
/*font-family: 'Carlito';*/
/*}*/

/*label {*/
/*font-size: larger;*/
/*font-family: 'Carlito';*/
/*margin-top: 3%;*/
/*display: block;*/
/*}*/

/*.sous_titre {*/
/*font-size: 130%;*/
/*font-weight: bold;*/
/*margin: 5%;*/
/*text-decoration: underline;*/
/*}*/

.Tablevoiture {
width: 20%;
margin-top: 2%;
margin-left: auto;
margin-right: auto;
border-collapse: collapse;
}

.tdthvoiture {
padding: 10%;
font-weight: bold;
border: solid 2px #2D7C6A;
background-color: #DCE4DF;
}

/*.TableBudget {*/
/*width: 20%;*/
/*margin-top: 2%;*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*border-collapse: collapse;*/
/*}*/

/*.tdthBudget {*/
/*font-weight: bold;*/
/*border: solid 2px #2D7C6A;*/
/*background-color: #DCE4DF;*/
/*}*/